.root {
    -fx-background-color: #000;
}

#Label1 {
    -fx-text-fill: #0F0;
}

#Label1 .radio {
    -fx-background-color: #000;
    -fx-border-radius: 10px;
    -fx-border-color: #0F0;
    -fx-mark-color: #0F0;
}

#Button1 {
    -fx-border-color: #0F0;
    -fx-background-color: #000;
    -fx-text-fill: #0F0;
}

#Button1:disabled {
    -fx-opacity: 100;
}

#Button1:hover {
    -fx-border-color: #0AF;
    -fx-background-color: #000;
    -fx-text-fill: #0AF;
}

#Button2 {
    -fx-background-color: #000;
}

#Button2:disabled {
    -fx-opacity: 100;
}

#TextBox1 {
    -fx-background-color: #000;
    -fx-border-color: #0F0;
    -fx-text-fill: #0F0;
}

#LineD1, #LineD2, #LineV1, #LineV2, #LineV3, #LineH1, #LineH2, #LineH3 {
    -fx-stroke: #fff;
    -fx-stroke-width: 3px;
}
